* {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 10px 20px;
}

.list {
    flex-grow: 0.4;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
}

.nav-item {
    padding-bottom: 0px;
}

.contact-us {
    display: flex;
}

.left-section>img {
    width: 35%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
    object-position: right;
}

.right-nav>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-nav {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: absolute;
    right: 10px;
    list-style-type: none
}

.main-container {
    display: flex;
}

.left-section {
    width: 35%;
}

.right-section {
    margin: 0px 30px;
    width: 65%;
    position: relative;
}

.header-conteiner {
    margin: 0px 40px;
    width: 500px;
    font-size: 60px;
    font-weight: 900;
    line-height: 40px;
}

.left-h {
    text-align: left;
    color: white;
    /* Font border props */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.right-h {
    text-align: right;
    color: #3e3e3e
}

.features {
    margin: 20px;
}

.features-list {
    margin-top: 30px;
    width: 260px;
    font-size: 20px;
    color: #3e3e3e;
}

span {
    background-color: rgb(154, 146, 146);
}

.active-span {
    background-color: #000;
}

ul {
    list-style: none;
}

ul li {
    padding-bottom: 35px;
}

ul li span {
    border-radius: 50%;
    border: 1px solid black;
    padding: 5px 5px;
    margin-right: 10px;
    display: inline-block;
}

ul li span:before {
    content: '';
    position: absolute;
    border-left: 1px solid;
    z-index: -1;
    height: 100px;
}

.nav-line {
    padding: 10px 0px 10px 40px;
    flex-grow: 0.6;
}

.span-1 {
    width: 100%;
    height: 5px;
    border-left: 2px solid;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(58, 56, 56);
    margin: 1em 0;
    padding: 0;
}

.primary-btn {
    padding: 20px 10px;
    width: 100%;
    background-color: #383737;
    font-size: 20px;
    font-weight: 600;
    color: white
}

.bottom-header {
    align-self: flex-end;
    flex-grow: 1;
}

.sub-header {
    width: 50%;
    font-size: 40px;
    font-weight: 400;
    color: #676666;
    margin-bottom: 20px;
}

.quote-section {
    margin: 20px 50px 10px 50px;
}

.quote-img {
    width: 500px;
    object-fit: cover;
    object-position: center;
}

.quote-symbol {
    width: 50px;
}

.quote-1 {
    font-size: 25px;
    color: #383737;
    font-weight: 600;
    padding: 10px 0px;
}

.down-arrow {
    position: absolute;
    right: 10px;
    top: 30%;
    width: 50px;
    height: 100px;
    cursor: pointer;
}